<h1>Edit Comment</h1>
<%= simple_form_for([@message, @comment]) do |f| %>
	<%= f.input :content, label: "Comment" %>
	<button type="button" class="btn btn-warning">
	<%= f.button :submit %>
	</button>
<% end %>