
<h1>Welcome to I Apartment Website</h1>
<p>I Apartment is a Web plat form that connects neighbors together on a common post wall where all can contribute with any topic, suggestion or announcement. Also to be added soon tenet to management communication will be easily available privately or publicly. Apartment management can announce monthly maintenance or tenet can contact management for any emergency maintenance request. </p>
