<div cclass="row" style ='background-color: #2ba6cb;>
	<p class="bg-success">Pages#contact</p>
	<H1>NoT Now !!! Can't you see I'm presenting </h1>

	<address class="active">
	  <strong>General Assembly</strong><br>
	  2526 Durwood St<br>
	  Austin, TX 74708<br>
	  <abbr title="Phone">P:</abbr> (520) 305-8198
	</address>


	<address>
	  <strong>Alwan Mortada</strong><br>
	  <a href="mailto:#">almortada88@gmail.com</a>
	</address>
</div>

