<footer class="footer">
	<div class ="container">
	  <nav class="navbarc">
	    <ul class="navbarc">
	      <li> <%= link_to "About", about_path %></li>
	      <li>
	      <%= link_to 'Funny', funny_path %>
	      </li>
	      <li>
	      <%= link_to  'Contact', contact_path  %>
	      </li>
	    </ul>
	  </nav>
	  <h5>
	   All right reserved to the communities that are using this Web application serves  !
	  </h5>
	  <p>© <%= Date.today.year %> My App.</p>
	</div>  
</footer>