<footer class="footer">
	<div class ="container">
	  <small>
	   All right reserved to the community this Web application servers !
	  </small>
	  <nav>
	    <ul>
	      <li><%= link_to "About I Appartment",   '#' %></li>
	      <li><%= link_to "Contact me", '#' %></li>
	      <li><%= link_to "Social Media ",'#' %></li>
	    </ul>
	  </nav>
	</div>  
</footer>