<h6>Social Media</h6>
<div class="container">
        <div class="col-md-3" id="followMenu">
          <a class="dropdown-toggle" data-toggle="dropdown"><p id="sideArrow">&#187;</p></a>
          <ul class="dropdown-menu">
            <li><a target="_blank" title="follow us on facebook" href="https://www.facebook.com/alwan.mortada"><img alt="follow us on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a></li>

            <li><a target="_blank" title="follow us on Twitter" href="https://twitter.com/mortada_alwan"><img alt="follow us on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twiiter30x30.png" border=0></a></li>

            <li><a target="_blank" title="follow us on instagram" href="https://instagram.com/alwanmortada/"><img alt="follow us on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a></li>

            <li><a target="_blank" title="follow us on wordpress" href="https://theegrasshopper.wordpress.com/"><img alt="follow us on instagram" src="https://s.w.org/about/images/logos/wordpress-logo-32-blue.png" border=0></a></li>

          </ul>
      	</div>
</div>

