<header class="header">
	<form id="search">
    <h1>Infinite Giphy!</h1>
    <input type="search" id="q"/>
    <button>Search</button>

	<div class="location"></div> 
	<div class="temperature"></div> 
	<div class="climate_bg"></div> 
	<div class="windspeed"></div> 
	<div class="umidity"></div>
  </form>
  
  <!-- <div id="results"></div> -->
  <ul id="results"><button>More Gifs</button></ul>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="assets/javascripts/giphy.js"></script>
</header>